<div id="search-form" align="center">
	<p><a href="http://code.google.com/p/acts-as-tsearch/" target="_blank"><img src="/images/tsearch.png"></a></p>
	<p>Sample data being used for search from <a href="http://weblog.rubyonrails.org/" target="_blank">Riding Rails</a>.  Back to <a href="/">TSearch example.</a></p>

</div>

<div id="content" style="margin-bottom:100px;">
<%=render :partial => "results" %>
</div>